.dialog__container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(100,100,100,0.4)
}

.dialog__content {
    border-radius: 12px;
    border: 1px solid var(--indigoAlpha20);
    padding: 24px;
    background-color: white;
    position: absolute;
    z-index: 100;
    width: 480px;
    max-width: calc(100% - 64px);
    transform: translateX(-50%)  translateY(-50%);
    left: 50%;
    top: 50%;
}

.dialog__close-button{
    float: right;
}